.nav {
    /* border-bottom: 2px solid rgb(80, 80, 80); */
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Added padding for better spacing */
    background-color: #0e0e0e; /* Light background for contrast */
    box-shadow: 0 2px 4px rgba(83, 82, 82, 0.147); /* Subtle shadow for depth */
}





.info:hover {
    background-color: rgba(0, 0, 0, 0.05);
    
}

.image {
    margin-left: 20px;
    height: 50px;
    animation: jump infinite 1s ease-in-out;
    transition: transform 0.3s; /* Smooth scaling on hover */
}

.image:hover {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0); /* Start and end at original position */
    }
    50% {
        transform: translateY(-10px); /* Jump effect */
    }
}
.navbar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoutButton {
    background: none;
    cursor: pointer;
    filter: brightness(59);
    filter: invert();
}

.navRight {
    display: flex;
    align-items: center;
    border-left: #0077ff solid 3px;
    padding-left: 20px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0077ff;
    margin: 0 20px;
    margin-right: 10px;
    height: 40px;
}
